build/
dist/
pymycobot.egg-info/

log
pymycobot/__pycache__/
tests/__pycache__/

test*.py
record.txt
test_test.py

.DS_Store
.history
*.bat
.VSCodeCounter
.vscode/
*.sh

*.pyc
__pycache__/port.cpython-39.pyc
demo/__pycache__/port.cpython-39.pyc
demo/__pycache__/port_setup.cpython-39.pyc
.idea
.vscode
*.log
.venv/
