build/
dist/
pymycobot.egg-info/

log
pymycobot/__pycache__/
tests/__pycache__/

test.py
record.txt
test_test.py

.DS_Store

.VSCodeCounter
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb

__pycache__/port.cpython-39.pyc
demo/__pycache__/port.cpython-39.pyc
demo/__pycache__/port_setup.cpython-39.pyc
